{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipes 2 Go{% endblock %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}"/>
    
    
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="div-container">
                <ul class="nav-links">
                    <div class="link-container">
                        <img src="{% static 'student-recipe.png' %}" alt="Student Kitchen Logo" class="logo-properties">
                        <li><a href="#" ><button class="pill" type="button">Forums</button></a></li>

                        <li><a href="#" ><button class="pill" type="button">Share Recipes</button></a></li>
                        
                    </div>

                    
                    
                    
                        
                </ul>
                
            </div>

            
        </nav>

        

    </header>
    
        

    

    

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
