{% extends "base.html" %}

{% block content %}

<div class="background-anim">
    {% if not result %}
        <h1 class="search-type"> {{userwrongname}} Recipes Can Not Be Found. Create Your Own {{userwrongname}} Recipes!</h1>
    {% else %}
        <h1 class="search-type">Results found for {{usersearchname}}</h1>
    {% endif %}
<form method="POST" class="form-background-style">
    {% csrf_token %}
    <p>
        <div class="search_option">
            <button type="submit" class="search-button" ><i class="fa-solid fa-magnifying-glass icon-option"></i></button>
            <input type="text" placeholder="Search By Ingredients... Click The Search Icon To Populate Results" name="search_bar" id="search_bar" class="search-input" >

        </div>
        
    </p>
    
</form>

<div class="form-list">
    <div class="list-form">
        <h2 class="help-header">Stuck? Try These Keywords. Happy Searching.</h2>

        <ul class="unordered-style">
            <li class="list-item-store">Chicken</li>
            <li class="list-item-store">Enchilada</li>
            <li class="list-item-store">Onion</li>
            <li class="list-item-store">Potato</li>
            <li class="list-item-store">Cheese</li>
            <li class="list-item-store">Milk</li>
            <li class="list-item-store">Vanilla</li>
            <li class="list-item-store">Cake</li>
            <li class="list-item-store">Sausage<li>
            <li class="list-item-store">Chili</li>


        </ul>
    </div>


    

</div>



<div class="output-display form-background">
    {% if result %}
        
        {% for recipe in result %}
            {{recipe}}
            <p class="result-fonttype">Recipe Name: {{ recipe.recipe_name }}</p>
            <p class="result-fonttype">Author: {{ recipe.recipe_author }}</p>
            <p class="result-fonttype">Method: {{ recipe.recipe_type }}</p>
            <p class="result-fonttype">Temperature: {{ recipe.cooking_temp }}℉</p>
            <p class="result-fonttype">Ingredients: {{ recipe.ingredients_needed }}</p>
            <p class="result-fonttype">Instructions: {{ recipe.recipe_instructions }}</p>
            
            <form method="POST" action="{% url 'currentrecipe' %}">
                {% csrf_token %}
                <input type="hidden" name="recipe_name" value="{{ recipe.recipe_name }}">
                <input type="hidden" name="recipe_author" value="{{ recipe.recipe_author }}">
                <input type="hidden" name="recipe_type" value="{{ recipe.recipe_type }}">
                <input type="hidden" name="ingredients_needed" value="{{ recipe.ingredients_needed }}">
                <input type="hidden" name="recipe_instructions" value="{{ recipe.recipe_instructions }}">
                <input type="hidden" name="cooking_temp" value="{{ recipe.cooking_temp }}">
                <input type="hidden" name="prep_time_in_minutes" value="{{ recipe.prep_time_in_minutes }}">
                <input type="hidden" name="prep_time_in_hours" value="{{ recipe.prep_time_in_hours }}">
                <input type="hidden" name="servings" value="{{ recipe.servings }}">

                <button type="submit" class="form-buttons form-buttons-filter">
                    Add Recipe To Cart
                </button>
            </form>
        {% empty %}
            <p>No recipes found matching your search criteria.</p>
        {% endfor %}
    {% endif %}
    

    
</div>

{% endblock %}

</div>

