{% extends "base.html" %}

{% block content %}

<h1>This is the page for built-in filtering</h1>

<form>

    <label>
        Crock Pot
        <input type="checkbox">
    </label>

    <label>
        Oven
        <input type="checkbox">
    </label>

    <label>
        Microwave
        <input type="checkbox">
    </label>

    <label>
        Skillet
        <input type="checkbox">
    </label>

    <label>
        Air Fryer
        <input type="checkbox">
    </label>
    


</form>

{% endblock %}
