{% extends 'base.html' %}

{% block content %}
<div class="background-anim">
    <div class="form-container">
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <h2 class="header-styling-2">{{ message }}<h2>
                {% endfor %}
            </div>
        {%else%}
            <h2 class="header-styling-2">Create a Recipe</h2>
        {% endif %}
        

        <!-- Display success message if recipe is submitted -->
        

        <form action="{% url 'recipecreation' %}" method="POST" class="recipe-form">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.as_p }}
            </div>
            
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>

</div>

    
{% endblock %}

